body{
    font-size: larger;
}

#Nav{
    display: flex;
    list-style: none;
   gap:200px;
   text-decoration: none;
}
.man{
    display: flex;
    gap: 250px;
}
#text{
    color: red;
}
#Icons{
    display: flex;
   gap:100px;
}
#Icon{
    display: flex;
}
#man{
    width: 700px;
}
#txt{
    display: flex;
}
#login{
    border-radius: 30px;
     padding:2px 5px 2px 5px; 
  
    
}
#join{
    background-color: red;
    color: white;
    border-radius: 30px;
    
}
#skill{
    display: flex;
}

@media screen and (min-width: 375px) and (max-width:739px){
    #Nav{
       flex-direction: column; 
    }

    #Icon{
        flex-direction: column;
    }

    #txt{
        flex-direction: column;
    }

    .man{
        flex-direction: column;
        gap: 250px;
    }

    #man{
        width: 100px;
    }

    #Icons{
        flex-direction: column;
    }

    #join{
        background-color: red;
        color: white;
        border-radius: 30px;
        padding: 3px 2px 3px 5px;
    }

  

}


@media screen and (min-width: 335px) and (max-width:659px){
    #Nav{
        flex-direction: column; 
     }
 
     #Icon{
         flex-direction: column;
     }
 
     #txt{
         flex-direction: column;
     }
 
     .man{
         flex-direction: column;
         gap: 200px;
     }
 
     #man{
         width: 150px;
     }
 
     #Icons{
         flex-direction: column;
     }
 
     #join{
         background-color: red;
         color: white;
         border-radius: 30px;
         padding: 3px 2px 3px 5px;
     }
 
   
 
 }
 
 
